<template>
  <div class="container">
    <h1>Clients</h1>
    <div class="table">
      <el-table :data="clientsList" border :row-class-name="tableRowClassName">
        <el-table-column prop="id" label="Number" width="90"> </el-table-column>
        <el-table-column prop="title" label="Name" width="480">
        </el-table-column>
        <el-table-column prop="completed" label="Status" width="150">
          <template slot-scope="scope">
            <button
              class="table__btn"
              :class="
                scope.row.completed ? 'table__btn--blue' : 'table__btn--pink'"
            >
              {{ scope.row.completed ? "Approved" : "Denied" }}
            </button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ store }) {
    if (store.state.clients.clients.length === 0) {
      await store.dispatch("clients/GET_CLIENT");
    }
  },
  computed: {
    clientsList() {
      return this.$store.state.clients.clients;
    },
  },
  methods: {
    tableRowClassName({ row }) {
      if (row.completed) {
        return "table__row--green";
      }
    },
    tableBtnCLassName(scope) {
      console.log(scope);
      //return scope.row.completed ? 'table__btn--pink' : 'table__btn--blue'
    },
  },
};
</script>

<style lang="scss">
.table {
  &__row {
    &--green {
      background: $approved !important;
    }
  }
  &__btn {
    width: 80px;
    padding: 10px;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin: 5px auto;
    display: block;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    &--blue {
      background: rgba(192, 192, 255, 0.4);
    }
    &--pink {
      background: rgba(253, 228, 232, 0.4);
    }
  }
}
</style>
