<template>
  <div class="breadcrumb">
    <div class="breadcrumb__wrapper">
      <div class="breadcrumb__item breadcrumb__item--pointer" @click="$router.go(-1)">
        <span class="breadcrumb__link"> {{ routerTags[0] }} </span>
      </div>
      <i class="el-icon-arrow-right breadcrumb__arrow"></i>
      <div class="breadcrumb__item">
        <span class="breadcrumb__link"> {{ routerTags[1] }} </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    routerTags() {
      return this.$route.path.split("/").filter(Boolean);
    },
  },
};
</script>

<style lang="scss">
.breadcrumb {
  font-size: 17px;
  color: rgb(172, 170, 170);
  &__wrapper {
    display: flex;
    align-items: center;
    padding: 10px 5px 5px 0;
  }
  &__item {
    &--pointer{
      cursor: pointer;
    }
  }
  &__link {
  }
  &__arrow {
    margin: 5px 10px;
  }
}
</style>
