<template>
  <el-menu
    class="el-menu-demo nav-menu"
    mode="horizontal"
    :router="true"
    active-text-color="rgb(71, 134, 0)"
    :default-active="$route.path"
  >
    <nuxt-link to="/" exact class="el-menu-item" active-class="is-active">
      Main
    </nuxt-link>
    <nuxt-link to="/info" class="el-menu-item" active-class="is-active">
      Info
    </nuxt-link>
    <nuxt-link to="/clients" class="el-menu-item" active-class="is-active">
      Clients
    </nuxt-link>
    <el-menu-item index="/users">Users</el-menu-item>
    <el-menu-item index="/dop" @click="logout"
      >Сменить пользователя</el-menu-item
    >
  </el-menu>
</template>

<script>
export default {
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
  },
};
</script>

<style></style>
