<template>
  <div class="progressbar" :id="key">
    <svg
      :width="width"
      :height="height"
      :viewBox="viewBox"
      class="progressbar__svg"
    >
      <pattern id="progressbarImage" width="100%" height="100%">
        <image
          xlink:href="~/assets/image/progressbar/user-3.jpg"
          :width="width"
          :height="height"
          preserveAspectRatio="xMidYMin slice"
        ></image>
      </pattern>
      <ellipse
        :cx="circleCX"
        :cy="circleCY"
        fill="url(#progressbarImage)"
        :rx="radius.rx"
        :ry="radius.ry"
      ></ellipse>
      <path
        stroke="#21a700"
        id="progressbarCircle"
        class="progressbar__circle"
        :stroke-width="borderWidth"
        :d="circlePathD"
        stroke-linecap="round"
        :stroke-dasharray="animateTo"
        fill="none"
        :width="width"
        :height="height"
      ></path>
    </svg>
    <form action="" prevent class="progressbar__form">
      <input
        placeholder="Percent"
        type="number"
        v-model="newPercent"
        class="progressbar__input"
      />
      <input
        placeholder="Height"
        type="number"
        v-model="newHeight"
        class="progressbar__input"
      />
      <input
        placeholder="Width"
        type="number"
        v-model="newWidtht"
        class="progressbar__input"
      />
      <input
        placeholder="BorderWidth"
        type="number"
        v-model="newBorderWidth"
        class="progressbar__input"
      />
      <button class="progressbar__btn" @click.prevent="resize">Resiz</button>
    </form>
  </div>
</template>

<script>
export default {
  mounted() {
    //! d="m 75 5 A 70 70 0 0 1 75 145 A 70 70 0 0 1 75 5"
    this.changeCircleValues();
    this.animateFrom = `0 ${this.circumference}`;
    this.animateTo = `${(this.circumference * this.persent) / 100} ${
      this.circumference - (this.circumference * this.persent) / 100
    }`;
    this.addAnimation();
  },
  data() {
    return {
      circle: null,
      radius: { rx: null, ry: null },
      circumference: null,
      height: 100,
      width: 100,
      borderWidth: 5,
      persent: 50,
      animateFrom: null,
      animateTo: null,
      newPercent: 50,
      circlePathD: "",
      key: "progressbar-" + Math.random().toString(36).slice(-10),
      newHeight: 100,
      newWidtht: 100,
      newBorderWidth: 5,
    };
  },
  methods: {
    resize() {
      if (this.newPercent <= 0) {
        this.persent = 0;
      } else if (this.newPercent >= 100) {
        this.persent = 100;
      } else {
        this.persent = this.newPercent;
      }
      this.persent = this.newPercent;
      this.borderWidth = this.newBorderWidth;
      this.height = this.newHeight;
      this.width = this.newWidtht;
      this.changeCircleValues();
      this.animateTo = `${(this.circumference * this.persent) / 100} ${
        this.circumference - (this.circumference * this.persent) / 100
      }`;
    },
    addAnimation() {
      let styleSheet = null;
      if (!styleSheet) {
        styleSheet = document.createElement("style");
        styleSheet.type = "text/css";
        document.head.appendChild(styleSheet);
      }

      styleSheet.sheet.insertRule(
        `@keyframes progressbarAnimation {
          from {
            stroke-dasharray: ${this.animateFrom};
          }
          to {
            stroke-dasharray: ${this.$animateTo};
          }
      }`,
        styleSheet.length
      );
      document.querySelector("#progressbarCircle").style.animation =
        "progressbarAnimation 800ms ";
    },
    changeCircleValues() {
      this.radius.rx = this.width / 2 - this.borderWidth;
      this.radius.ry = this.height / 2 - this.borderWidth;
      this.circlePathD = `m ${this.width / 2} ${this.borderWidth} 
        A ${this.radius.rx} ${this.radius.ry} 0 0 1  ${this.width / 2} ${
        this.height - this.borderWidth
      } 
        A ${this.radius.rx} ${this.radius.ry} 0 0 1  ${this.width / 2}  ${
        this.borderWidth
      }`;
      if (this.radius.rx === this.radius.ry) {
        this.circumference =
          2 *
          Math.PI *
          Math.sqrt(
            (this.radius.rx * this.radius.rx +
              this.radius.ry * this.radius.ry) /
              2
          );
      } else {
        const x = Math.log(2) / Math.log(Math.PI / 2);
        this.circumference =
          4 *
          Math.pow(
            Math.pow(this.radius.rx, x) + Math.pow(this.radius.ry, x),
            1 / x
          );
      }
      console.log(this.circumference);
      console.log(document.querySelector("path").r);
    },
  },
  computed: {
    circleCX() {
      return this.width / 2;
    },
    circleCY() {
      return this.height / 2;
    },
    viewBox() {
      return `0 0 ${this.width} ${this.height}`;
    },
  },
  watch: {
    newPercent() {
      if (this.newPercent < 0) {
        this.animateTo = `0 ${this.circumference}`;
      } else if (this.newPercent > 100) {
        this.animateTo = `${this.circumference} 0`;
      } else {
        this.animateTo = `${(this.circumference * this.newPercent) / 100} ${
          this.circumference - (this.circumference * this.newPercent) / 100
        }`;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.progressbar {
  display: flex;
  &__svg {
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
  }
  &__circle {
    transition: stroke-dasharray 800ms ease-in;
  }
  &__image-wrap {
    transform: rotate(-270deg);
  }
  &__image {
  }
  &__form {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    padding: 30px;
    margin: 2px 10px 2px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px 5px rgba(158, 158, 158, 0.6);
  }

  &__input {
    padding: 8px 15px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid rgb(158, 158, 158);
    color: rgb(158, 158, 158);
    border-radius: 7px;
    font-size: 15px;
    box-shadow: 0 3px 5px 2px rgba($approved-btn, 0.2);
  }
  &__btn {
    font-weight: 600;
    min-width: 100%;
    margin: auto;
    background: rgba(158, 158, 158, 0.6);
    padding: 10px 15px;
    border: 1px solid $approved-btn;
    color: $approved-btn;
    border-radius: 7px;
    font-size: 16px;
  }
}
</style>
