<template>
  <div class="container user">
    <breadcrumb></breadcrumb>
    <h3>User: {{ user.name }}</h3>
    <p class="user__text">
      {{ user.email }}
      <br />
      {{ user.adress }}
    </p>
    <p class="user__text">
      {{ user.username }}
    </p>
    <p class="user__text">
      {{ user.address.city }}
    </p>
    <p class="user__text">
      {{ user.address.street }}
    </p>
    <p class="user__text">Phone: {{ user.phone }}</p>
    <div style="display: flex">
      <p class="user__text">Company:</p>
      <span style="flex-grow: 1">
        <p class="user__text">
          {{ user.company.name }}
        </p>
        <p class="user__text">
          {{ user.company.catchPhrase }}
        </p>
        <p class="user__text">
          {{ user.company.bs }}
        </p>
      </span>
    </div>
    <button class="user__btn" @click="showInfo()">Click</button>
  </div>
</template>

<script>
import breadcrumb from "../../components/breadcrumb.vue";
export default {
  components: { breadcrumb },
  async fetch({ store, query }) {
    await store.dispatch("store/GET_CURRENT_USER", query.id);
  },
  data() {
    return {
      currentUser: {},
    };
  },
  methods: {
    showInfo() {
      console.log("Show info");
    },
  },
  computed: {
    user() {
      return this.$store.state.store.currentUser;
    },
  },
};
</script>

<style lang="scss">
.user {
  &__text {
    margin: 10px;
    max-width: 300px;
  }
  &__btn {
    padding: 20px 80px;
    border: none;
    background: $pinky;
    color: #ffffff;
    border-radius: 10px;
    margin: 15px 0px;
    font-size: 20px;
  }
}
</style>
