<template>
  <div class="container">
    <h1>Users</h1>
    <nuxt-link to="someUser" class="main-link" append>Some User</nuxt-link>
    <div class="list">
      <div
        v-for="user in users"
        :key="user.id"
        class="list__item"
        @click="openUser(user)"
      >
        {{ user.name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async fetch({ store }) {
    if (store.state.store.users.length === 0) {
      await store.dispatch("store/GET_USERS");
    }
  },
  methods: {
    openUser(user) {
      //await this.$store.dispatch("store/GET_CURRENT_USER", user.id);
      this.$router.push({
        path: "/users/" + user.username.toLowerCase().split(" ").join("_"),
        query: {
          id: user.id,
        },
        params: {
          id: user.id,
        },
      });
      localStorage.setItem("currentUser", JSON.stringify(user.id));
    },
  },
  computed: {
    users() {
      return this.$store.state.store.users;
    },
  },
  //middleware:['auth']
};
</script>

<style lang="scss">
.list {
  margin: 20px;
  &__item {
    text-decoration: none;
    position: relative;
    padding: 10px 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before {
      position: absolute;
      width: 15px;
      height: 15px;
      left: 0;
      content: "";
      background-color: $pinky;
      border-radius: 50%;
    }
  }
}
.main-link {
  text-decoration: dashed;
  color: $pinky;
  font-size: 19px;
}
</style>
