<template>
  <transition name="someUser-animation" mode="out-in">
    <div class="container some-user">
      <breadcrumb></breadcrumb>
      <div class="some-user__wrapper">
        <div @click="$router.go(-1)" class="empty__arrow">
          <span>&#8249;</span> Go back
        </div>
        <h1>Some user</h1>
      </div>
    </div>
  </transition> 
</template>

<script>
import breadcrumb from "../../components/breadcrumb.vue";
export default {
  components: { breadcrumb },
};
</script>

<style lang="scss">
.some-user {
  &__wrapper {
    padding-top: 40px !important;
    position: relative;
    .empty__arrow{
      top: 0;
      left: 0;
    }
  }
}
</style>
