<template>
  <div class="container user">
    <h3>User {{ currentUser }}</h3>
    <p class="user__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum porro
      modi alias accusantium recusandae. Quo labore natus est veritatis! Commodi
      iste nostrum eaque voluptas libero atque recusandae, laborum doloremque
      molestiae.
    </p>
    <button class="user__btn" @click="showInfo()">Click</button>
  </div>
</template>

<script>
export default {
  computed: {
    currentUser() {
      return this.$route.params.id;
    },
  },
  methods: {
    showInfo() {
      console.log(this.$route);
    },
  },
  mounted(){
    this.showInfo()
  }
};
</script>

<style lang="scss">
.user {
  &__text {
    margin: 10px;
    max-width: 300px;
  }
  &__btn {
    padding: 20px 80px;
    border: none;
    background: $pinky;
    color: #ffffff;
    border-radius: 10px;
    margin: 15px 0px;
    font-size: 20px;
  }
}
</style>
