@import "fonts.scss";
@import "vars.scss";
@import "reset.scss";

body {
  font-family: "Rock 3D", cursive;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  height: 100vh;
  position: relative;
  &__text {
    max-width: 1200px;
  }
}

.someUser-animation-leave-from,
.someUser-animation-enter {
  opacity: 1;
}
.someUser-animation-enter,
.someUser-animation-leave-to {
  opacity: 0;
}
.someUser-animation-enter-active,
.someUser-animation-leave-active {
  transition: all 700ms ease-in-out;
}
