input,
textarea,
select {
  -webkit-appearance: none;
  box-sizing: border-box;
  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }
  &::placeholder{
	  font-style: italic;
	  font-size: 12;
  }
}

button{
	cursor: pointer;
}
