<template>
  <div>
    <nav-panel />

    <transition name="someUser-animation">
      <nuxt />
    </transition>
  </div>
</template>

<script>
import navPanel from "../components/nav-panel.vue";
export default {
  components: { navPanel },
};
</script>

<style lang="scss">
.nav-menu {
  li {
    font-size: 20px;
  }
  > a {
    text-decoration: none;
    font-size: 20px;
  }
}
.bread-crumbs {
  display: flex;
  align-items: center;
  &__link {
    margin: 2px 10px;
  }
}
.el-menu-item.is-active {
  font-size: 20px;
  border-bottom-color: rgb(71, 134, 0) !important;
  color: rgb(71, 134, 0) !important;
  font-weight: 600;
}
</style>
