<template>
  <div class="container empty">
    <nuxt-link to="/" class="empty__arrow"
      ><span>&#8249;</span> Go back</nuxt-link
    >
    <nuxt />
  </div>
</template>

<script>
export default {
  mounted() {
    console.log(this.$store.state.token);
  },
};
</script>

<style lang="scss">
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  &__arrow {
    > span {
      font-size: 40px;
      margin-right: 15px;
    }
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    color: rgba(#478600, 0.44);
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
}
</style>
