<template>
  <div class="dop">
    <h1>New user</h1>
    <el-form label-position="left" label-width="100px" :model="formData">
      <el-form-item label="Name">
        <el-input v-model="formData.name"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">Submit</el-button>
        <el-button>Reset</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  layout: "empty",
  data() {
    return {
      formData: {
        name: "",
      },
    };
  },
  methods: {
    onSubmit() {
      if (this.formData.name.length > 3) {
        this.$store.dispatch("login");
        this.$router.push("/");
      } else {
        console.log("Name not entered");
      }
    },
  },
};
</script>

<style lang="scss">
.dop {
  max-width: 700px;
  width: 100%;
}
</style>
