<template>
  <div class="container">
    <h1>MAIN</h1>

    <progressbar></progressbar>

    <p class="container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas unde
      illo aut ex itaque cum ipsam fugiat odio facere iusto, quo consequatur
      magni delectus ab quidem voluptas neque amet!
    </p>
    <p class="container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas unde
      illo aut ex itaque cum ipsam fugiat odio facere iusto, quo consequatur
      magni delectus ab quidem voluptas neque amet!
    </p>
    <p class="container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas unde
      illo aut ex itaque cum ipsam fugiat odio facere iusto, quo consequatur
      magni delectus ab quidem voluptas neque amet!
    </p>
    <p class="container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas unde
      illo aut ex itaque cum ipsam fugiat odio facere iusto, quo consequatur
      magni delectus ab quidem voluptas neque amet!
    </p>
    <p class="container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas unde
      illo aut ex itaque cum ipsam fugiat odio facere iusto, quo consequatur
      magni delectus ab quidem voluptas neque amet!
    </p>
  </div>
</template>

<script>
import progressbar from '../components/progressbar.vue';
export default {
  components: { progressbar },
  name: "IndexPage",
};
</script>

<style lang="scss"></style>
