<template>
  <div class="container info">
    <h1>Info</h1>
    <p class="container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas unde
      illo aut ex itaque cum ipsam fugiat odio facere iusto, quo consequatur
      magni delectus ab quidem voluptas neque amet! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum quas unde illo aut ex itaque cum ipsam
      fugiat odio facere iusto, quo consequatur magni delectus ab quidem
      voluptas neque amet! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ipsum quas unde illo aut ex itaque cum ipsam fugiat odio facere
      iusto, quo consequatur magni delectus ab quidem voluptas neque amet! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas unde illo
      aut ex itaque cum ipsam fugiat odio facere iusto, quo consequatur magni
      delectus ab quidem voluptas neque amet! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Ipsum quas unde illo aut ex itaque cum ipsam
      fugiat odio facere iusto, quo consequatur magni delectus ab quidem
      voluptas neque amet! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ipsum quas unde illo aut ex itaque cum ipsam fugiat odio facere
      iusto, quo consequatur magni delectus ab quidem voluptas neque amet! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Ipsum quas unde illo
      aut ex itaque cum ipsam fugiat odio facere iusto, quo consequatur magni
      delectus ab quidem voluptas neque amet!
    </p>

    <nuxt-link to="/info/info1" class="info__link" append> _info 1</nuxt-link>
    <nuxt-link to="/info/info2" class="info__link"> _info 2</nuxt-link>

    <nuxt-child></nuxt-child>
  </div>
</template>

<script>
export default {
  //middleware: ["auth"],
};
</script>

<style lang="scss">
.info {
  &__link {
    font-size: 18px;
    color: $pinky;
    padding: 10px 30px;
  }
}
</style>
